*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 192, 203, 0.79);
}
h1{
    color: rgb(237, 112, 133);
    text-align: center;
    margin: 20px auto 10px;
}
hr{
width: 30%;
margin: auto;
margin-bottom: 20px;
}
.add-container{
    display: flex;
    background-color: rgba(237, 112, 133, 0.724);
    width: 80%;
    max-width: 800px;
    height: 60px;
    padding: 10px;
    margin: auto;
    border-radius: 10px 10px 0 0;
}
.add-input,.add-btn{
    padding: 5px 10px;
    font-size: 17px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;

}
.add-input{
flex: 1;
}
.add-btn{
background-color: rgb(252, 231, 235);
color:rgba(218, 46, 75, 0.724);
font-weight: bold;
margin-left: 10px;
width: 100px;
}

.notes-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 192, 203);
    border-radius: 10px;
    margin: 5% auto;
    justify-content:space-around;
    width: 90%;
    max-width: 1200px;

}
.note {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin: 20px;
}
textarea{
    box-sizing: border-box;
    margin: 20px;
    width: 300px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
}

span {
    position: absolute;
    right: 25px;
    bottom: 25px;
    color:rgba(232, 22, 57, 0.724);
    padding: 2px 6px;
    cursor: pointer;
}
span:hover{
    font-size: larger;
}

